# Porta do servidor
PORT=3001

# CORS (origem permitida do frontend)
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=1h

# PostgreSQL (Prisma)
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
# Exemplo local: postgresql://postgres:postgres@localhost:5432/todo_app
DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco"
