@import "tailwindcss";

:root {
  --color-primary: #47C269;
  --color-black: #000000;
  --color-white: #FFFFFF;

  --font-family: 'Lato', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-family);
  margin: 0;
  min-height: 100vh;
}

